.main_div span{
   color: red;
}

.divimg img{
         transition: transform 2s ease;
}

.divimg:hover img{
   transform: scale(1.3) translateY(-1px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
  transition: all 0.9s ease;
   
}
.input-field {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.input-field:focus {
  outline: none;
  ring: 2px;
  ring-color: #10b981;
}